@{
    ViewData["Title"] = "Index";
}


<style>
    body, .form-control, .modal {
        background-color: #fff;
    }

    .btn, .btn:hover {
        color: #fff;
    }

    h2 {
        color: black;
    }
</style>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #1F5079;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #1F5079;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<script>
    $(function () {
        $('#mensagemAlertaCad').hide();
        $('#mensagemSucessoCad').hide();

        var dadosClientes = "";
        $('#dadosClientes').empty();

        $.ajax({
            type: "POST",
            url: "https://api.trevodasortedigital.com.br/Clientes/ListarDados",
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $(result).each(function () {
                    var codAfiliado = "";

                    if(this.codafiliado !== null){
                        codAfiliado = "<a alt='Dados Afiliado' title='Dados Afiliado' href='#' onclick='CarregarDadosAfiliado(" + this.codafiliado + ")'>" + this.codafiliado + "</a>";
                    }

                    if (this.ativo === 0) {
                        dadosClientes += "<tr>";
                        dadosClientes += "  <td><a alt='Ativar Cadastro' title='Ativar Cadastro' href='#' onclick='AtivarClienteEnviarSenhaAcesso(" + this.id + ")'>🔴</a>";
                        dadosClientes += "      <img src='../assets/img/btnEditar.png' width='50px' height='50px' alt='Carregar Dados' title='Carregar Dados' onclick='CarregarDados(" + this.id + ")' /></td>";
                        dadosClientes += "  <td>" + this.nome + "</td>";
                        dadosClientes += "  <td>" + this.email + "</td>";
                        dadosClientes += "  <td>" + this.cidade + "</td>";
                        dadosClientes += "  <td>" + this.estado + "</td>";
                        dadosClientes += "  <td>" + codAfiliado + "</td>";
                        dadosClientes += "</tr>";
                    } else {
                        dadosClientes += "<tr>";
                        dadosClientes += "  <td><img src='../assets/img/btnEmail.png' width='50px' height='50px' alt='Enviar Senha Acesso' title='Enviar Senha Acesso' onclick='EnviarSenhaAcesso(" + this.id + ")' />";
                        dadosClientes += "      <img src='../assets/img/btnEditar.png' width='50px' height='50px' alt='Carregar Dados' title='Carregar Dados' onclick='CarregarDados(" + this.id + ")' /></td>";
                        dadosClientes += "  <td>" + this.nome + "</td>";
                        dadosClientes += "  <td>" + this.email + "</td>";
                        dadosClientes += "  <td>" + this.cidade + "</td>";
                        dadosClientes += "  <td>" + this.estado + "</td>";
                        dadosClientes += "  <td>" + codAfiliado + "</td>";
                        dadosClientes += "</tr>";
                    }
                });

                $('#dadosClientes').html(dadosClientes);
            }
        });

        $("#campoPesquisa").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dadosClientes tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function AtivarClienteEnviarSenhaAcesso(id) {
        var msg = "Tem certeza que deseja ativar o Cadastro do Cliente e enviar a Senha de Acesso?";

        document.getElementById('Questao').style.display = 'block';
        document.getElementById('tituloExclusao').innerHTML = msg;

        $('#btnConfirmarExclusao').click(function () {
            $.ajax({
                type: "POST",
                url: "https://api.trevodasortedigital.com.br/Clientes/AtivarClienteEnviarSenhaAcesso?id=" + id,
                datatype: "JSON",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (jsonResult) {
                    if (jsonResult.includes('Foi enviado um e-mail')) {
                        $('#mensagemAlertaCad').hide();
                        $('#mensagemSucessoCad').show();

                        $('#mensagemSucessoCad').html(jsonResult);
                    } else {
                        $('#mensagemAlertaCad').show();
                        $('#mensagemSucessoCad').hide();

                        $('#mensagemAlertaCad').html(jsonResult);
                    }

                    window.setTimeout(function () {
                        window.location.href = "/Clientes/Index";
                    }, 4000);
                }
            });
        });
    }

    function EnviarSenhaAcesso(id) {
        var msg = "Tem certeza que deseja Gerar Nova Senha e enviar para o Cliente?";

        document.getElementById('Questao').style.display = 'block';
        document.getElementById('tituloExclusao').innerHTML = msg;

        $('#btnConfirmarExclusao').click(function () {
            var modalLoading = document.getElementById("mLoading");
            modalLoading.style.display = "block";

            $.ajax({
                type: "POST",
                url: "https://api.trevodasortedigital.com.br/Clientes/GerarNovaSenha?id=" + id,
                datatype: "JSON",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (jsonResult) {
                    modalLoading.style.display = "none";
                    if (jsonResult.includes('Foi enviado um e-mail')) {
                        $('#mensagemAlertaCad').hide();
                        $('#mensagemSucessoCad').show();

                        $('#mensagemSucessoCad').html(jsonResult);
                    } else {
                        $('#mensagemAlertaCad').show();
                        $('#mensagemSucessoCad').hide();

                        $('#mensagemAlertaCad').html(jsonResult);
                    }

                    window.setTimeout(function () {
                        window.location.href = "/Clientes/Index";
                    }, 4000);
                }
            });
        });
    }

    function CarregarDados(id) {
        window.location.href = "/Clientes/Dados?id=" + id;
    }

    function CarregarDadosAfiliado(codAfiliado) {
        LimparCampos();
        AbrirFormulario();

        $.ajax({
            type: "POST",
            url: "https://api.trevodasortedigital.com.br/Clientes/CarregarDadosAfiliado?codAfiliado=" + codAfiliado,
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
             async: false,
            success: function (jsonResult) {
                document.getElementById('hdnAfiliadoId').value = jsonResult.Id;
                document.getElementById('nome').value = jsonResult.Nome;
                document.getElementById('telefone').value = jsonResult.Telefone;
                document.getElementById('email').value = jsonResult.Email;
                document.getElementById('cpf').value = jsonResult.Cpf;
                document.getElementById('codAfiliado').value =jsonResult.CodAfiliado;
            }
        });
    }

    function AbrirFormulario() {
        // Get the modal
        var modal = document.getElementById("mdCad");
        modal.style.display = "block";

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function LimparCampos() {
        document.getElementById('hdnAfiliadoId').value = '0';
        document.getElementById('nome').value = '';
        document.getElementById('telefone').value = '';
        document.getElementById('email').value = '';
        document.getElementById('cpf').value = '';
        document.getElementById('codAfiliado').value = '';
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div id="mensagemAlertaCad" class="alert alert-danger">
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="mensagemSucessoCad" class="alert alert-success">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Cadastro de Clientes</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="form-control" id="campoPesquisa" type="text" placeholder="Pesquisar..">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="modal" id="mdCad" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modal-body" style="background-color:#fff">
                        <h2>Dados do Afiliado</h2>
                        <main>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" id="hdnAfiliadoId" value="0" />
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label for="cpf">Cpf</label>
                                    <input type="text" class="form-control" id="cpf" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="codAfiliado">Código Afiliado</label>
                                    <input type="text" class="form-control" id="codAfiliado" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" id="btnCancelar" value="Voltar" class="btn btn-danger btn-block" onclick="window.location.href='/Clientes/Index'" />
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="Questao" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <p id="tituloExclusao">Some text in the Modal..</p>
                <div class="row">
                    <div class="col-md-6">
                        <input type="button" id="btnConfirmarExclusao" value="Sim" class="btn btn-primary btn-block" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="btnCancelar" value="Não" class="btn btn-danger btn-block" onclick="window.location.href = '/Clientes/Index';" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="dtClientes" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Código Afiliado</th>
                    </tr>
                </thead>
                <tbody id="dadosClientes">
                </tbody>
            </table>
        </div>
    </div>
</div>




